.tableContainer {
  overflow-x: auto;
  margin-top: 32px;
  width: 960px;
}

.table {
  width: 100%;
  border-collapse: collapse;
  background-color: #fff;
  border-radius: 8px 8px 0px 0px;
  overflow: hidden;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

th,
td {
  height: 49px;
  text-align: left;
  border-bottom: 1px solid #ddd;
  font-size: 16px;
  font-weight: 400;
}

th {
  background-color: var(--blue-primary);
  color: var(--white);
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
}

.img {
  padding-left: 32px;
}

tr:hover {
  background-color: #f9f9f9;
}

.thumb {
  width: 34px;
  height: 34px;
  border-radius: 50%;
  object-fit: cover;
  margin-left: 32px;
}

.circle,
.dropdownButton {
  display: none;
}

/* INICIO DO DROPDOWN */
.dropdownButton {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 17px;
}

.mobileDropdown {
  display: none;
}

.mobileDropdown td {
  padding: 10px;
  background: #f9f9f9;
}

.dropdownContent p {
  font-weight: 400;
  margin: 15px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  border-bottom: 2px dotted #dfdfdf;
}

.dropdownContent span {
  font-weight: 500;
}

/*Estilos para telas menores */
@media (max-width: 768px) {
  .tableContainer {
    width: 335px;
    margin-top: 20px;
  }

  th,
  td {
    padding: 12px;
  }

  .mobile {
    display: none;
  }

  .circle,
  .dropdownButton {
    display: table-cell;
    width: 32px;
  }

  .circle svg {
    width: 8px;
    display: flex;
    justify-self: center;
  }

  /* dropdonw */

  .mobileDropdown {
    display: table-row;
  }
}
